---
import Layout from '../layouts/Layout.astro';

import Profile from '../components/Profile.astro';
import Contact from '../components/Contact.astro';

import ContentLink from '../components/ContentLink.astro';
import ContentCode from '../components/ContentAbout.astro';
import ContentProjects from '../components/ContentProjects.astro';
---

<Layout>

    <!-- Inicio: Envoltorio principal -->
    <main class="flex flex-col md:flex-row w-full max-w-full md:max-w-7xl border border-gray-600 rounded-2xl overflow-hidden shadow-2xl relative bg-black mb-12 md:mb-4">

        <!-- Inicio: Tarjeta izquierda / superior -->
        <div class="p-8 md:p-6 flex flex-col justify-between w-full md:w-2/5 border-b md:border-b-0 md:border-r border-gray-600">

            <Profile />

            <Contact />

        </div>
        <!-- Final: Tarjeta izquierda/superior -->

        <!-- Inicio: Tarjeta derecha / inferior (sí 4/5 en lugar de 3/5) -->
        <div class="w-full md:w-4/5 p-0">

            <!-- Inicio: Contenedor interno -->
            <div class="min-h-full h-[90vh] flex flex-col overflow-y-scroll">

                <!-- Utilice botones de radio ocultos para controlar las pestañas -->
                <div class="tab-controls">

                    <input
                        type="radio"
                        id="tab1"
                        name="tabs"
                        class="tab-radio"
                        checked
                    />

                    <input
                        type="radio"
                        id="tab2"
                        name="tabs"
                        class="tab-radio"
                    />

                    <!-- Inicio: Barra de pestañas -->
                    <div class="flex bg-black border-b border-gray-600 sticky top-0 z-10">

                        <ContentLink
                            contentId="tab1"
                            contentName="about.ts"
                        />

                        <ContentLink
                            contentId="tab2"
                            contentName="projects.md"
                        />

                    </div>
                    <!-- Fin: barra de pestañas -->

                    <!-- Inicio: Contenido de la pestaña -->
                    <div class="p-6 flex-grow overflow-y-auto bg-black">

                        <!-- Inicio: Acerca del contenido -->
                        <div id="content1" class="tab-content">
                            <ContentCode />
                        </div>
                        <!-- Fin: Acerca del contenido -->

                        <!-- Inicio: Proyectos contenido -->
                        <div id="content2" class="tab-content">
                            <ContentProjects />
                        </div>
                        <!-- Fin: Proyectos contenido -->

                    </div>
                    <!-- Fin: Proyectos contenido -->

                </div>

            </div>
            <!-- Fin: Contenedor interno -->

        </div>
        <!-- Fin: Tarjeta derecha / inferior -->

    </main>
    <!-- Fin: Contenedor principal -->


</Layout>

<style is:global>

    /* Ocultar los botones de opción */
    .tab-radio {
        @apply absolute opacity-0 pointer-events-none;
    }

    /* Estado predeterminado - ocultar todo el contenido de la pestaña */
    .tab-content {
        @apply hidden opacity-0;
        transition: opacity 0.3s ease-in-out;
    }

    /* Estado predeterminado para los enlaces de pestañas */
    .tab-link {
        @apply border-b-2 border-transparent bg-transparent;
        transition: background-color 0.2s ease-in-out;
    }

    /* Cuando tab1 está seleccionado, mostrar content1 y resaltar su pestaña */
    #tab1:checked ~ * #content1 {
        @apply block opacity-100;
    }

    #tab1:checked ~ .flex .tab-link:nth-child(1) {
        @apply border-b-2 border-b-primary;
    }

    /* Cuando tab2 está seleccionado, mostrar content2 y resaltar su pestaña */
    #tab2:checked ~ * #content2 {
        @apply block opacity-100;
    }

    #tab2:checked ~ .flex .tab-link:nth-child(2) {
        @apply border-b-2 border-b-primary;
    }

</style>